{% extends 'blog/base.html' %}
{% block content %}
<div style="display: inline-block;">
    <p style="width:70%; word-wrap: break-word; margin: auto; margin-top: 20%;">Feel free to create your own account and test functionality.You can create new posts, update them, delete; reset your password using email, upload your image, change fields in your profile.
        To filter posts by author you can click on author's name. To open post's detail view you can click on post's title. Posts are paginated by 5 on home page. I am trying to improve app continiously, so if you have suggestions,
        you can write me at <a href = "mailto: s.yaholnytskyi@gmail.com">s.yaholnytskyi@gmail.com.</a>
    </p>
</div>
{% endblock content %}
