{% extends 'blog/base.html' %}
{% block content %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style='width: 80%;'>
            <img class='rounded-circle' style='height: 75px; width: 75px; margin: auto;' src='{{ object.author.profile.image.url }}'>
            <div class="col p-4 d-flex flex-column position-static">
                <a href="{% url 'user-posts' object.author.username %}"><strong class="d-inline-block mb-2 text-secondary">{{ object.author }}</strong></a>
                <h3 class="mb-0">{{ object.title }}</h3>
                <div class="mb-1 text-muted">{{ object.date_posted }}
                    {% if object.author == user %}
                    <div>
                        <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'post-update' object.id %}">Edit</a>
                        <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                    {% endif %}
                </div>
                <p class="mb-auto">{{ object.content }}</p>
            </div>
        </div>
{% endblock content %}